.sfondo{
    
    background-image: 
    linear-gradient(to bottom,
    #046b61 0px,
    #046b61 15vh,
    #dfded9 15vh,
    #e2e5e5 100%);
}

/* settings */

i{
 color: gray;
}

.headeric, i:nth-of-type(2){
    margin: 5px;
}

.footeric i{
  color: black;
}

.colorbell{
    background-color: #99DAFD;
}

.img-profile{
    width: 70px;
    height: 70px;
}

p{
    margin-bottom: 0;
}

.type-none{
    list-style-type: none;
}

.sent{
    background-color: #D8F8BF;
    border: 1px solid;
    border-radius: 20px;
    width: fit-content;
    align-self: end;
}

.received{
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    width:fit-content;
    align-self: start;
}

.toAlign{
    align-content: center;
}

.bg-gray{
    background-color: #E9EAED;
}

.sfondo-chats{
    background-image: url("mine.jpg");
    background-size: contain;
}


.t-size{
    font-size:0.8em;
}

.title-custom{
    
    font-weight:600;
}